%h1 Map

= link_to 'Zoom In', home_path('map', zoom: @zoom - 1) if @zoom > 0
= link_to 'Zoom Out', home_path('map', zoom: @zoom + 1) if @zoom < 5

.editor
  = form_tag 'homes' do
    .field
      = label_tag :cell_type, 'Cell Type'
      = select_tag :cell_type, options_for_select(['Empty', 'Occupied', 'Food', 'Ore', 'Stone', 'Wood'])
    .field
      = label_tag :level
      = select_tag :level, options_for_select((1..10).map{|a| a})
    = field_set_tag 'Owner', :id => 'owner' do
      .field
        .label Name:
        #name
      .field
        .label Tags:
        #tags
      .field
        .label Comments:
        #comments

    = submit_tag 'Update', :id => 'update_home'
#map

%script{:type => 'text/javascript'}
  var zoom_level = #{@zoom}

